PROJECT_NAME=ajedrezlapaz
WEB_PATH=/Users/mariomedrano/Projects/ajedrezlapaz/web
API_PATH=/Users/mariomedrano/Projects/ajedrezlapaz/api
DOTFILES_PATH=/Users/mariomedrano/Dev/.dotfiles
DEV_WEB_PORT=3000
API_PORT=4000
PROD_WEB_PORT=8080
PROD_API_PORT=8081
DATABASE_URL=file:/alp/api/data/app.db
SQLITE_PATH=/alp/api/data/app.db
